body{
  background:url("https://i.pinimg.com/736x/4d/45/60/4d45607d2b9d633e5af5cbd7d3d2c71b--waves-logo-logo-wave.jpg");
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: tomato;
  color: blue;
  font-weight: bolder;
  font-size: large;
}
